.ftpignore
.ftpconfig
.vscode

# Byte-compiled / optimized / DLL files
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class
*.swp
*.png
*.zip

/data
/logs
/pretrained
/interact
/pretrain_src/datasets
/pretrain_src/img_features

/local_weights
/local_logs
/local_datasets
/local_pretrain_src/datasets
/local_pretrain_src/img_features    